{% extends 'layout/main.twig' %}

{% block content %}

<section id="error-page">
	<div class="contenu">
		<h1>Erreur 404</h1>
		<p>{{__("Ooups, une erreur s'est produite.")}}</p>
		<a href="{{url('Main/index')}}"><button class="big-button blue-button">{{__("Revenir sur le site")}}</button></a>
	</div>
</section>

{% endblock %}
