{% extends 'layout/main.twig' %}

{% block content %}

<section id="login-content">
  <div class="contenu">
    <div class="bloc">
      <p class="titre">Connexion</p>
      <form action="" method="POST">
        <input type="hidden" name="todo" value="login" />
        <input type="text" name="username" value="" />
        <input type="password" name="password" value="" />
        <button class="mid-button blue-button" type="submit" name="submit_form_login">Se connecter</button>
      </form>
    </div>
    <p class="error">{{error}}</p>
  </div>
</section>

{% endblock %}
